@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


.whiteShadow{
    box-shadow: 0px 0px 1px 1px rgb(120, 120, 120);
}
.MuseoModerno{
    font-family: 'MuseoModerno';
}


@keyframes star-movement-bottom {
    0%  { transform: translate(0%, 0%); opacity: 1 }
    100% { transform: translate(-100%, 0%); opacity: 0 }
}
@keyframes star-movement-top {
    0%  { transform: translate(0%, 0%); opacity: 1 }
    100% { transform: translate(100%, 0%); opacity: 0 }
}

.star-movement-bottom{
    animation: star-movement-bottom linear infinite alternate;
}
.star-movement-top{
    animation: star-movement-top linear infinite alternate;
}
@keyframes entry {
    0%{
        transform: translateY(20px);opacity: 0;
    }
    100%{
        transform: translateY(0);opacity: 1;
    }
}
.entry_animation{
    animation: entry 1.2s ease-out forwards;
}